@import "../style/utilities/utilities.scss";

div#playerPageHolder {
    margin-left: 0px;
    margin-right: 0px;
    /* display: flex; */
}



.playerReplays {
  flex: 1 0;
}


.nav-link.playerNav {
  // border: 1px solid $Dark;
}

.nav-link.playerNav.active, .nav-link.playerNav:hover {
  background-color: $Color1 !important;
  border-radius: 5px 5px 0px 0px;
}

.playerTabs {
  margin: 5px -10px -5px -10px;
  height: 36px;
  display: flex;
  border-radius: 5px 5px 0px 0px;
  background: darken($Dark,8%);
}

.playerHolder {
    background: darken($Dark,8%);
    margin: 5px -10px 10px -10px;
    padding: 0px 11px 0px 11px;
    border-radius: 5px 5px 0px 0px;
}




.playerNav {
  flex: 1 0;
  height: 34px;
  position: relative;
  top: 1px;
  margin: 0px 1px !important;
  text-align: center;
  color: $Light;
  border: none;
}

.sliderHolder {
  display: flex;
  flex-direction: row;
  height: 33px;
  margin: 2px 2px 0 4px;
  background: lighten($Dark,2%);
}

.sliderTextRange {
  display: flex;
  margin: 0px;
  padding: 5px;
  flex-direction: row;
  white-space: nowrap;
  flex-wrap: nowrap;
  font-size: 0.8em;
  text-align: center;
  background: lighten($Dark,20%);
  border-radius: 5px;

}

.mmrSlider, .levSlider {
  width: 150px;
  height: 30px;
  margin: 1px 0 4px 0;
  overflow: visible;
  fill: white;
  border: 1px solid black;
}

.sliderTitle {
  width: 70px;
  height: 30px;
  margin: -1px;
  font-size: 0.7em;
  word-wrap: normal;
  text-align: center;
}

.sliderResetHolder {
  padding: 5px 0 0 5px;
  cursor: pointer;
}

.sliderTicks {
  fill: $Light;
  font-size: .7em;
  opacity:1;
  font-family: $NumbersFont;
  @include  unselectable;
}



.timelineHolder {
    width: 100%;
    height: 45px;
    margin: 2px 2px 0 4px;
    background: lighten($Dark,2%);
    border: 1px solid lighten($Dark,10%);
    overflow: visible;
    border-radius: 5px;
    fill: white;
}

.calendar {
  font-family: $NumbersFont;
  padding-top: 5px !important;
  cursor: default !important;
}

.calendar .iconFilter:hover {
  color: $Light !important;
}

.calendar .iconFilter {
  cursor: default !important;
}

.timeBar {
  margin: 0px -1px 0 -11px;
  padding: 0px;
}

@media (max-width:768px ) {
  .timeBar {
    flex-wrap: wrap;
  }
  .calendar {
    width: 100% !important;
  }
}


svg.TimeLineSVG {
    width: 100%;
    height: 100%;
}




text.timeText {
  fill: $Light;
  font-size: 1em;
  fill-opacity: 0.7;
  font-family: $NumbersFont;
  overflow: visible;
}


.statItem {
  background: darken($Dark,3%);
  border: 1px solid black;
  padding: 10px 0px;
  margin-bottom: 5px;
}

span#winrate {
    font-size: small;
    display: block;
    color: $Color2;
}

.stat_item_container {
  font-family: 'Ubuntu Mono', monospace;
  max-width: none !important;
  margin: 4px -12px 0px -8px;
  color: $DimText;
  font-size: 1em;
  min-width: 256px;
}

.statBarHolder.statBarTitle {
    margin: 10px 0px;
}

.statListDropdown {
  font-size: 0.8em;
  margin: 5px 0px;
}

.statBarMiniTitle {
  font-family: $PrimaryFont;
  margin: 20px 0px 0px 0px;
  text-decoration: underline;
}

.statBarHolder {
    /* margin: auto; */
    text-align: center;
}

.handleHolder {
  font-family: $PrimaryFont;
  font-size: 1.35em !important;
  color: $Light;
  margin-top: 0px !important;
}


span.statValue {
  color: $Color2;
}

span.stdValue {
  color: $Color1;
}
