@import "../style/utilities/utilities.scss";

div#playerPageHolder {
    margin-left: 0px;
    margin-right: 0px;
    /* display: flex; */
}

.statItem {
  background: darken($Dark,3%);
  border: 1px solid black;
  padding: 10px 0px;
  margin-bottom: 5px;
}

span#winrate {
    font-size: small;
    display: block;
    color: $Color2;
}

.stat_item_container {
  font-family: 'Ubuntu Mono', monospace;
  max-width: none !important;
  margin: 4px -12px 0px -8px;
  color: $DimText;
  font-size: 1em;
  min-width: 256px;
}

.statBarHolder.statBarTitle {
    margin: 10px 0px;
}

.statBarHolder {
    /* margin: auto; */
    text-align: center;
}

.handleHolder {
  font-family: $PrimaryFont;
  font-size: 1.35em !important;
  color: $Light;
  margin-top: 0px !important;
}


span.statValue {
  color: $Color2;
}

span.stdValue {
  color: $Color1;
}
