@import "../../style/utilities/utilities.scss";
@import "../replay_list/replay_list.scss";

svg.rustyGraph {
    font-size: 0.6em;
    overflow: visible;
}

div#talentPopup {
    /* opacity: 0.5; */
    position: absolute;
    z-index: 100;
    background: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lighten($Dark,30%);

}

div#invisibleTeamHolder {
    display: flex;
    flex-wrap: wrap;
}


@media (max-width:480px ) {
  #invisibleTeamHolder {
    width:100%;
  }
}


.tinyRole {
    margin-right: -5px !important;
}

.tinyRoleHolder {
    display: flex;
}

#talentPopupTitle {
  text-align: center;
  color: $Color2;
  padding: 5px;
}

.talentPopupRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 0;
}

.tinyHeroAndTalents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filterTalent {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.filterTalentLevel {
  z-index: 100;
  position: relative;
  top: 10px;
  right: 10px;
  font-size: 0.8em;
  padding-left: 2px;
  text-align: center;

}

.filterTalentHolder {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 1px;
}



.poppedTalent {
  padding: 5px;
  width: 120px;
  font-size: 0.7em;
  line-height: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
}

.poppedTalentImage {
  position: absolute;
  height: 24px;
  width: 24px;

}

.poppedTalentName {
  float: right;
  white-space:normal;
  margin-left: 30px;
  padding-top: 5px;
}

.talentPopupRowTitle {
  width:20px;
  padding: 5px;
  margin-right: 5px;
  font-size:0.9em;
}

.removePlayer {
  color: lighten(red,20%);
  margin: 5px 2px -5px 5px;
  cursor: pointer;
}

.addTalent {
  color: $Color1;
  margin: 5px 10px -5px -9px;
  cursor: pointer;
}

/*
.roleButton {
    min-height: 15px !important;
}


.roleDropdown {
    position: absolute;
    top: 16px;
    font-size: 0.8em;
}

.tinyRole {
    margin-top: -15px;
}

*/
.roleDropdown {
    float: left;
    margin: -4px 2px 0px 5px;
}


button:focus {
    outline: none;
}

.loginButton, .mirrorsToggle  {
    cursor: pointer;
    background-color: #1C1F24;
    border-radius: 10px;
    border: none;
    margin: 1px 0px 2px 3px !important;
    height: 34px !important;
    pointer-events: inherit;
}

.loginButton {
  color: $Color2 !important;
}

.mirrorsToggle  {
  color: $Light !important;
  font-size: 0.9em;
  font-weight: 900;
}

.mirrorsToggle:hover,.loginButton:hover {
  color: $Highlight !important;
}

.rustySearch {
  display: inline;
  margin: 10px;
  outline: 1px solid darken($Light,50%);
  font-size: 0.9em;
}

.rustySearch form input {
  color: $Color3;
}

.rustySearch form input:hover {
  color: $Color3;
}
