// Colors
$Highlight: #D75813;
$Light: #f3f3f3;
$Dark: #1C1F24;
$BackgroundColor: #000;
$Foreground:darken($Dark,10%);
$Container: #1c1f24;
$DimText: #E4E7E3;
$Color1: #51A1A7;
$Color2: #6383C4;
$Color3: #8C5F8C;
/*
// ORANGE GREY BLACK - PRETTY
$Highlight: #D75813;
$Light: #f3f3f3;
$Dark: #1C1F24;
$BackgroundColor: #000;
$Foreground:darken($Dark,10%);
$Container: #1c1f24;
*/
/*
// GREEN
$Highlight: #86C232;
$Light: #E4E7E3;
$Dark: #222629;
$BackgroundColor: Black;
$Foreground:darken($Dark,10%);
$Container: #2A2931;
*/

/*
// PURPLISH
$Highlight: #51A1A7;
$Light: #E4E7E3;
$Dark: #2A2931;
$BackgroundColor:black;
$Foreground:#1a1a1a;
$Container: #303541;
*/
/*
Haiti #2A2931
Trendy Pink #8C5F8C
Mantle #A2A4A2
Cadet Blue #51A1A7
Havelock Blue #6383C4
Apple Green #E4E7E3
*/

// Fonts
$MinWidth: 440px;
$PrimaryFont: 'Magra', sans-serif;
$NumbersFont: 'Roboto Condensed', sans-serif;


/*
'Roboto Condensed', sans-serif;
'Magra', sans-serif;
'Bungee', cursive;
'Risque', sans-serif;
'Oswald', sans-serif;
'Fjalla One', sans-serif;
*/
