@import "utilities/utilities.scss";

.timeHolder {
    width: 230px;
}

.timeLabelHolder {
    display: inline-table;
    font-weight: 500;
    font-size: 1.05em !important;
}

.timeInfoHolder {
    display: inline-table;
    float: right;
    text-align: right;
    font-size: 12px;
}

form.input-group.filterGroup.blackButton {
  background: darken($Dark,10%) !important;

}

.halfy {
  max-width: 49.5% !important;
}

img.tinyHero {
  margin-right: 10px;
  margin-top: -5px;
  clip-path: circle(12px at 50% 50%);
}

span.starHolder {
    margin-right: 15px;
}

.fa-user-o {
  color:$Highlight;
}

.dropdownButton {

}



form.input-group.filterGroup {
    float: none;
    background-color: lighten($Dark,5%);
    display: inline-flex;
    width: fit-content;
    border: 1px solid $Dark;
    margin: 1px !important;
    padding: 0px 2px;
    border-radius: 5px;

    @include expandWhenTiny;
}

img.roundedPort {
    height: 38;
    width: 38;
    border-radius: 50%;
}

form.input-group.filterGroup.buttonSpacer {
    background: $Highlight;
    justify-content: center !important;
    cursor: pointer;
}
form.input-group.filterGroup.buttonSpacer:hover {
  background-color:black;
  color: $Highlight !important;
  text-decoration: none;
}


i.fa.fa-bolt:refresh {
  color: $Dark !important;
}
i.fa.fa-refresh {
    color: white;
}

.iconLabel {
  color:white;
  font-family: 'Roboto Mono', monospace;
  vertical-align: bottom !important;
  margin: 0px 5px;
  font-size: 1.05em;
  font-weight: normal;
  color: white;
}

.iconFilter {
    font-weight: bold;
    cursor: pointer;
    color: white;
    max-height:35px;
    margin: 0px 2px !important;
    padding: 0px;
    min-height: 34px;
    max-height: 34px;
    font-size: 0.85em;
}

.toggleFilter {
    display: inline-block;
    margin: -7px 0px 0px -1px !important;
    padding: 0px 10px !important;
    color: #f3f3f3 !important;
}


.iconFilter:hover {
    color: lighten($Highlight, 20%) ;
    text-decoration: none;
}

.iconOnButton {
  color: lighten($Highlight,20%);
}

.mainOption {
  @extend .iconFilter;
  margin: 0px 0px !important;
}

.mainOption:hover {
  @extend .iconFilter:hover;
}

.heroFilters {
  justify-content:flex-end;
}
.heroFilters, .dataFilters {
  margin: 0px -5px 0px -5px;
}


.filtersHolder {
  background-color: $Foreground;
  margin: 5px 2px 8px 2px;
  padding: 0px 5px;
  border-radius: 5px;
}

img.iconBorder {

}

img.tinyMap {
    margin-right: 15px;
    border-radius: 5px;
}

.dropdown-menu {
  background-color: black !important;
  opacity: 0.95;
  border: 2px solid #2A2931;
}
.dropdown-item {
  color: white !important;
}
button.dropdown-item:hover {
    background-color: $Highlight !important;
    /*
    color: #303541 !important;
    */
}

.iconBorder:hover, .selectedImage {
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);

}

.unselectedImage {
    filter: none;
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
    cursor: pointer;
}
