@import "utilities/utilities.scss";

.main-nav {
  background-color:darken($Dark,8%);
  min-height: 50px;
  max-height: 50px;
  border-bottom: 1px solid darken($Highlight,35%);
  margin-bottom: 2px;
  min-width: $MinWidth;
}
button.navbar-toggler.navbar-toggler-left { margin-top: 15px;}
.navbar-toggler {
    border-radius: 2rem !important;
}
.navbar-toggleable-md .navbar-collapse {
  align-items: center;
}


.brightButton {
  @include unselectable;
  cursor: pointer;
  background-color:lighten($Container,10%);
  color: $Light !important;
  margin:0px;
  padding:5px 10px !important;
  border-radius: 10px;
  border: 1px solid darken($Highlight,20%)
}

.brightButton:active {
  background-color:$Highlight;
}
.brightButton.active {
  background-color:$Highlight;
}

.brightButton:focus {
  outline:0;
}


a.nav-link.navMenuText {
    white-space: nowrap;
}
ul.nav.nav-tabs {
    padding: 3px 0 0px 0px;
    background: #fafafa;
}
@media screen and (min-width: 768px) {
ul#leftNav {
    position: absolute;
    right: 50%;
    padding-right:150px;
}
ul#rightNav {
    position: absolute;
    left: 50%;
    transform: translateX(150px);
}
}

.navbar-toggleable-md .navbar-collapse {
  align-items: center;
}


@media (min-width: 768px) {
#brand
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin:0 auto;
    }
}
