@import "utilities/utilities.scss";

body {
  background-color:$BackgroundColor ;
  font-family:$PrimaryFont;
  color: $Light;
}

.highlight {
  color: $Highlight !important;
}

#contentHolder {
    padding: 2px;
    background-color: $Container;
    min-width: $MinWidth;
}

.double-cell {
    display: inline-grid;
    position: relative;
    top: -5px;
    text-align: center;
}

.inner-double {
    padding-top: 12px;
    font-size: 1.0em;
    line-height: 0;
}
