@import "utilities/utilities.scss";

.overallTable {
    -ms-flex: 99999 1 auto;
    flex: 99999 1 auto;
    min-width: 225px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
}

.errorMessage {
  margin: auto;
  padding-top: 10px !important;
  color: $Color1;
}

.WLLabel {
  font-size: 0.5em;
  height: 0;
  position: absolute;
  top: 23px;
  color: $Color2;
}

.tableInfo {
    width: 100%;
    font-size: 0.7em;
    color: $Color2;
    text-align: right;
    position: relative;
    height: 0;
    padding: 0 5px;
}
.iconHeader {
  width: 65px;
  max-width: 65px;
}


.invisible {
  visibility: hidden;
  height: 0px !important;
}

.mainTableOptions {
    background: $Foreground;
    border-radius: 5px 5px 0px 0px;
    margin: 0px;
    border: none;
}

.-sort-asc:before, .-sort-desc:before {
    position: absolute;
    font-family: FontAwesome;
    bottom: 8px;
    right: 5px;
    color: $Light  ;
}
.-sort-desc:before {
  content: "\f161";
}
.-sort-asc:before {
  content: "\f160";
}


.statBox {
  font-family: $NumbersFont;
  font-size: 0.9em;
}

.WLBox {
  font-family: $NumbersFont;
  color: $Light;
  font-size: 0.9em;
  display:flex;
  flex-direction:column;
  margin: -1px 0 0 0;
}

.WBox, .LBox {
  line-height:1.6em;
}
.WBox {
}
.LBox {
  font-size:0.9em;
  color: #ff0000;
}



svg.heroArc {
  position: absolute;
  left: 10px;
  overflow: visible;
}


.ReactTable .rt-thead.-header, .rt-tr {
    text-align:left !important;
    margin-top: 0px;
    padding: 1px;
}

.rt-table {
    border-radius: 5px 5px 0px 0px;
}

.rt-th.-cursor-pointer {
    overflow: hidden;
    -o-text-overflow: unset;
    text-overflow: unset;
    white-space: normal;
    hyphens: auto;
}

path.heroArcPath {
  fill-opacity:0.3;
}

path.percentPathHolder {
    fill: #666;
    stroke: #000;
    stroke-opacity: 0.5;
    fill-opacity: 1;
}

.-sort-asc, .-sort-desc {
  box-shadow: none !important;
  background-color:$Highlight;
}


.iconFilter {
    margin: 5px 2px;
    padding: 0px;
    /*border: 2px solid #6383C4 ;
    border-radius: 35%;*/

}

line.percentPath {
    stroke-width: 3px;
}

.statBoxLine {
  margin: -20px !important;
}

img.roundedPort {
    height: 38;
    width: 38;
    border-radius: 50%;
    padding: 0px 5px;
    cursor: pointer;
}

.roundedPort {
  max-width: 65px;
  cursor: pointer;
}

.iconLabel {
  color:white;
  font-family: Ropa Sans, sans-serif;
}
img.iconBorder {


}

.iconBorder:hover, .selectedImage {
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
    cursor: pointer;
}

.unselectedImage {
    filter: none;
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
    cursor: pointer;
}



.rt-thead {
  background-color: black  ;
  color: white ;
}

.rt-resizable-header-content {
    margin: 0 0 0 0;
}
.-odd, .-even {
  max-height: 55px;
}

.-odd {
  background-color:lighten($Dark,3%)  !important;
}
.-even {
  background-color:darken($Dark,3%) !important;
}
.rt-td {
    margin: 0px 0px 5px 0px;
    vertical-align: bottom!important;
    line-height: 38px;
    padding: 5px 5px !important;
    color: white;
}


.mainTable {
  margin-top:15px;
  padding: 1px;

}

.rt-tbody {
  overflow-y: hidden !important;
  border-bottom: solid 1px black;
  padding: 1px;
  min-width: $MinWidth;
}



/*
:root {
    --haiti: #2A2931;
    --trendy-pink: #8C5F8C;
    --mantle: #A2A4A2;
    --cadet-blue: #51A1A7;
    --havelock-blue: #6383C4;
    --apple-green: #E4E7E3;
}
*/
